.header {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  ul {
    color: $textColor;
    font-family: $boldFont;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 60px;
    position: relative;
    z-index: 2;

    @media #{$mobileSmall} {
      display: none;
    }
  }
}

li.nav {
  padding: 0 3px;
  margin: 0 20px;
  position: relative;

  &:hover::after {
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 5px;
    border-bottom: 8px solid deepskyblue;
    position: absolute;
    z-index: -1;
  }

  @media #{$tablet} {
    font-size: 18px;
  }
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 60px;
}

