@import 'normalize.css';
@import 'settings/Font';
@import 'settings/Colors';
@import 'settings/Media';
@import "Header";
@import "IntroSection";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  font-size: 16px;
}

.container {
  width: 100%;
  background-color: $backgroundColor;
  font-family: $basicFont;
}
